/*
  Icon Font: lovely-icons
*/

@font-face {
  font-family: "lovely-icons";
  src: url("./lovely-icons.eot");
  src: url("./lovely-icons.eot?#iefix") format("embedded-opentype"),
       url("./lovely-icons.woff") format("woff"),
       url("./lovely-icons.ttf") format("truetype"),
       url("./lovely-icons.svg#lovely-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "lovely-icons";
    src: url("./lovely-icons.svg#lovely-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.li-debian:before,
.li-invoice:before,
.li-linkedin:before,
.li-poke-ball:before {
  display: inline-block;
  font-family: "lovely-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.li-debian:before { content: "\f100"; }
.li-invoice:before { content: "\f102"; }
.li-linkedin:before { content: "\f103"; }
.li-poke-ball:before { content: "\f101"; }
